
<div class="row">
    <div class="col-lg-6">
        <div class="media">
            <a href="#" class="pull-left">
                <img src="http://lorempixel.com/64/64" alt="">
            </a>
        </div>
        
        <div class="media-body">
            <div class="container">
                <h4 class="media-heading">Titolo</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, officia!</p>
            </div>
        </div>        
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
<div class="row">
    <div class="col-md-2">
        <p>Lorem ipsum dolor sit.</p>
    </div>
    <div class="col-md-2">
        <p>Lorem ipsum dolor sit.</p>
    </div>
    <div class="col-md-2">
        <p>Lorem ipsum dolor sit.</p>
    </div>
    <div class="col-md-4 col-md-offset-2">
        <p>Offset!</p>
        <div class="row">
            <div class="col-sm-4">
                <p>Nested col!</p>
            </div>
            <div class="col-sm-4">
                <p>Nested col!</p>
            </div>
            <div class="col-sm-4">
                <p>Nested col!</p>
            </div>
        </div>
    </div>
    
</div>
</div>
</div>

<section id="some-info">
    <div class="well">
        <p>
            Did you know what <abbr title="Very-high speed integrated circuit Hardware Description Language" class="initialism">VHDL</abbr>
            stands for?
        </p>
        <p>Yes, it is <strong>Very-high speed integrated circuit Hardware Description Language!!</strong></p>
    </div>
    <p>And did you know which was <abbr title="Antonio Natali">AN</abbr>'s motto? It was:</p>
    <div class="well">
        
        <blockquote>
            <p>Non c'è codice senza progetto, non c'è progetto senza analisi del problema, non c'è analisi del problema senza requisiti.</p>
            <small><cite>Antonio Natali</cite></small>
        </blockquote>
    </div>
    <p>Even better, if we put it to right like, say... these famous words by <abbr title="Fast Forward">FFWD</abbr></p>
    <blockquote class="text-right">
        <p>avt cpt rgazz? php h mlt smplc, bst ch pr spigarl nn usat l vcali!</p>
        <small>Typic lesson of<cite>Lumini's Tutor</cite></small>
    </blockquote>
</section>

<p class="text-right">Built by <em>Marco De Canal.</em></p>

