<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="row">
    <div class="col-lg-6">
        <div class="media">
            <a href="#" class="pull-left">
                <img src="http://lorempixel.com/64/64" alt="">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">titolo</h4>
            <p>lorem10</p>
        </div>
    </div>
</div>
