<!DOCTYPE html>
<html>
<head>
  <title>Mathemagic</title>
  <script src="//code.jquery.com/jquery.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
